.signup-contain {
    padding-top: 30px;

    .signup-logo {
        width: 130px;
    }

    .register-title {
        margin-bottom: 20px;
    }

    .img-contain {
        margin-bottom: 50px;
    }

    .input-contain {
        margin: 0 42vw;
    }

    .input-box {
        height         : 4vh;
        margin         : 10px 0;
        border-style: solid;
        border-color:#666 ;
        border-width: 1px;
        border-radius  : 10px;
        outline: none;
    }
    .form-button{
        height: 4vh;
        border-radius: 8px;
        border-style: none;
        margin-top: 15px;
        background-color: #F5BC30;
        outline: none;
        color: #57241a;
    }
}
